.header-div {
  color:  #083dcb ;
  height: 10%;
  background-color:  #c0cef6 ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.messages-div{
  background-color:  #f3e6fa ;
  height: 80%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.send-message-div{
  height: 10%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.send-btn{
padding: 5px 0 0 20px;
}
.send-btn:hover{
  cursor: pointer;
  scale: 1.05;
}

.message-div{
  padding: 5px;
  border-radius: 5px;
  background-color:   #d4cae5 ;
  color:  #640fe7 ;
  margin: 10px 0 10px 0;
}