.header-div {
  width: 100%;
  background-color: grey;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.main-div {
  width: 100%;
  height: 100%;
}
.input-div {
  background-color: orange;
  width: 80%;
  margin: 0 10% 0 10%;
  height: 10%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
  scale: 0.98;
}
.todo-main {
  margin: 2% 10% 0 10%;
  height: 68%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10;
}
span {
  margin-left: 10px;
}
span:hover {
  cursor: pointer;
  scale: 1.2;
  opacity: 0.7;
}
.todo {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #e8daef;
}
